html {
	font-family: Arial, Helvetica, sans-serif;
	background: url(bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*linear-gradient(#e3925b, #757ad8);*/
}

#topBar {
	text-align: center;
	/*background-color: #428FB9;*/
}

#input1 {
	width: 99%;
	padding: 10px;
	margin: 2px;
	box-sizing: border-box;
	border: 1px solid blue;
}

#button1 {
	color: white;
	width: 99%;
	box-sizing: border-box;
	padding: 10px;
	margin: 2px;
	background: #a183b3;
}
